In [1]:
import pandas as pd
import requests
import xml.etree.ElementTree as ET

In [2]:
f = open("./seoul-apikey.txt", 'r', encoding="UTF8")
apikey = f.readline()
f.close()

In [3]:
response = requests.get("http://openapi.seoul.go.kr:8088/"+apikey+"/xml/SpotInfo/1/1000/")

In [4]:
xml_data = response.content.decode('utf-8')
xml_split = xml_data.split("<spot_num>")[1:]

In [5]:
spot_list = []
for i in xml_split:
    temp = []
    temp.append(i.split("<spot_nm>")[0].split("</spot_nm>")[0].split("</spot_num>")[0])
    temp.append(i.split("<spot_nm>")[1].split("</spot_nm>")[0])
    spot_list.append(temp)

In [7]:
df = pd.DataFrame(spot_list)
df

        0            1
0    A-01    성산로(금화터널)
1    A-02    사직로(사직터널)
2    A-03  자하문로(자하문터널)
3    A-04   대사관로(삼청터널)
4    A-05     율곡로(안국역)
..    ...          ...
134  F-06       경부고속도로
135  F-07        분당수서로
136  F-08  강남순환로(관악터널)
137  F-09     서부간선지하도로
138  F-10     신월여의지하도로

[139 rows x 2 columns]

In [ ]:
df.columns=["spot_num", "spot_nm"]
df.to_csv('./spot_data.csv', index= False, encoding= "utf-8-sig")